/* font-family: 'Raleway', sans-serif;
 font-family: 'Roboto', sans-serif; */

/* #FFFFFF;
#212121;
#FFFFFF;
#757575;
#2196F3; 
#EEEEEE;
#000000;
#F5F4FA;
#FFFFFF99;
#2F303A;
#ECECEC; */

:root {

}
body {
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.hero-btn {
    color: #2196f3;
}

.hero-btn {
 height: 50px;
width: 200px;
left: 700px;
top: 430px;
border-radius: 4px;

    color: ;
}


.features-title {
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
color: #212121;
}

.text {
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}


}
.portfolio {

}
.team {

}
.filters {

}
.projects {

}




